.p_details{
    
    padding: 50px;
  } 
  
  #em_cont1, #em_cont2{
    float: left;
    margin-left: 270px;
    margin-right: 50px;
  }
  h1, h2{
    
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;

  }
  form{
    
    clear: right;
    width: 300px;
      margin: 0 auto;
  }
  #aller{
    margin-top: 400px;
  }
  label
  {
    
    font-weight: bold;
    text-transform: capitalize;
    font-size: 40px
    padding: 20px;
    text-align: center;
    
  }
  input, textarea{
    margin-bottom: 20px;
    size: 50px;
    
  }